*{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    
}
body{
    background-color: #b1acf1;}

.fond{
    background-color: #8284f3;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: auto;
animation: appaire 1s ease-in-out;
}
@keyframes appaire {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }}

#tirage{
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.jeu1 , .jeu2, .jeu3{
    background-color: #e87777;
    border: 2px solid #000;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    margin: 0 10px;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f9b004;
    border-radius: 10px 5px;
    transition: 0.3s ease-in;
}
button:hover{
    background-color: #1c00f0;
    color: white;
}